/*
**************************************
**************************************
--- 01 TYPOGRAPHY SYSTEM

-Fonts
font-family: 'Lora', serif;
font-family: 'Nunito', sans-serif;

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
'Lora'
Medium: 500
Bold: 700

'Nunito'
Default: 400
Semi-Bold: 600
Bold-Black: 900

- Line heights
Default: 1
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px

**************************************
**************************************
--- 02 COLORS

-Primary: #E46B3F
Tints: #FCF0EC
      #f2b59f
      #efa68c
- Greys
   Primary: #343434

- Black: #000
- White: #FFF
**************************************
**************************************

--- 03 SPACE SYSTEM

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


**************************************
**************************************

--- 04 BORDER RADIUS

-Default: 8px
-Small: 4px

**************************************
**************************************
*/

:root {
  --c-primary-main: #e46b3f;
  --c-primary-tint-1: #fcf0ec;
  --c-primary-tint-2: #f2b59f;
  --c-primary-tint-3: #efa68c;
  --c-primary-tint-4: #e77a52;
  --c-grey-1: #343434;
  --c-black-1: #000;
  --c-black-2: rgb(12 11 8);
  --c-white-1: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #343434;

  overflow-x: hidden;
}

/***************************/
/******** SECTIONS *********/
/***************************/
.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/***************************/
/******** CONTAINERS *********/
/***************************/

.container,
.container-big {
  padding: 0 3.2rem;
  margin: 0 auto;
}
.container-big {
  max-width: 140rem;
}

.container {
  max-width: 120rem;
}

/**********************/
/******* IMG *********/
/**********************/

.scale-sm {
  transform: scale(1.05);
}

/**********************/
/******* LIST *********/
/**********************/

.list {
  list-style: none;

  display: flex;
  gap: 1.8rem;
}
/**********************/
/******* FLEX *********/
/**********************/

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex--jc-space-btw {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**********************/
/******* GRID *********/
/**********************/

.grid {
  display: grid;
}

/**********************/
/******* LINKS *********/
/**********************/

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--c-white-1);
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: var(--c-primary-tint-2);
}

/**********************/
/******* HEADING *********/
/**********************/

.heading-primary,
.heading-secundary,
.heading-tertiary,
.heading-quaternary,
.heading-quinary {
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 11rem;
}

.heading-secundary {
  font-size: 7rem;
}

.heading-tertiary {
  font-size: 5rem;
}

.heading-quaternary,
.heading-quinary {
  text-transform: none;
}

.heading-quaternary {
  line-height: 1.2;
  font-size: 3rem;
}

.heading-quinary {
  font-size: 2rem;
}

.border-bottom {
  display: inline-block;
  border-bottom: 3px solid var(--c-primary-main);
}
/**********************/
/******* PHARAGRAPH *********/
/**********************/

.text-pharagraph {
  font-size: 1.8rem;
  line-height: 1.6;
}

/**********************/
/******* BTN *********/
/**********************/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;

  border: none;
  cursor: pointer;
  font-family: inherit;

  padding: 1.8rem 4.8rem;
  border-radius: 4px;

  transition: all 0.3s;
}

.btn--outline,
.btn--outline:link,
.btn--outline:visited {
  color: var(--c-white-1);
  border: 1px solid var(--c-primary-tint-2);
}

.btn--outline:hover,
.btn--outline:active {
  border: 1px solid var(--c-white-1);
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.btn-mobile-nav--icon {
  height: 7rem;
}
/**********************/
/******* MARGIN *********/
/**********************/

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-section-bottom {
  margin-bottom: 14rem !important;
}

.padding-section-top {
  padding-top: 14rem !important;
}

/**********************/
/*******  *********/
/**********************/

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 114 / 130 / 150

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
