/* In media queries: 1rem = 1em = 16px */

/*  1120px = 70em. I use with +2*/
/**************************/
/* BELOW 1120px (Landscape Tablets) */
/**************************/
@media (max-width: 72em) {
  html {
    /* 10px / 16px = 0.625 = 62.5% */
    /* 9px / 16px = 0.5625*/
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 959px (Tablets) */
/**************************/

@media (max-width: 60em) {
  html {
    /* 8px / 16px = 0.5*/
    font-size: 50%;
  }

  .menu-box {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .menu-gallery {
    width: 56%;
  }
}

/**************************/
/* BELOW 884px (Tablets) */
/**************************/

@media (max-width: 55em) {
  .menu-text {
    grid-row: 1;
  }

  .menu-gallery img:nth-child(1) {
    height: 28rem;
    width: 31.2rem;
    align-self: self-end;
  }

  .menu-gallery img:nth-child(2) {
    height: 24rem;
    width: 22.2rem;
    align-self: self-end;
  }

  .menu-gallery img:nth-child(4) {
    height: 42rem;
    width: 25.7rem;
    align-self: start;
  }

  .menu-gallery--box-item img:first-child,
  .menu-gallery--box-item img:last-child {
    height: 18.1rem;
    width: 27rem;
  }

  .reservation {
    grid-template-columns: 55fr 45fr;
  }

  .reservation-form {
    grid-template-columns: repeat(1, 1fr);
  }

  .textarea-form-box {
    grid-row: unset;
  }

  .reservation .btn,
  .reservation .btn:link,
  .reservation .btn:visited {
    grid-row: unset;
    width: 100%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .heading-primary {
    font-size: 9rem;
  }

  .about-box {
    grid-template-columns: 1fr;
    grid-template-rows: 45fr 55fr;
    justify-items: center;
    row-gap: 4.8rem;
  }

  .menu-gallery {
    width: 65%;
  }

  .menu-gallery img:nth-child(1) {
    height: 26rem;
    width: 29.2rem;
    align-self: self-end;
  }

  .menu-gallery img:nth-child(2) {
    height: 22rem;
    width: 20.2rem;
    align-self: self-end;
  }

  .menu-gallery img:nth-child(4) {
    height: 40rem;
    width: 23.7rem;
    align-self: start;
  }

  .menu-gallery--box-item img:first-child,
  .menu-gallery--box-item img:last-child {
    height: 16.1rem;
    width: 25rem;
  }

  .features,
  footer .contact-box {
    flex-direction: column;
    align-items: center;
  }

  footer .contact-box {
    gap: 10rem;
  }
}

/**************************/
/* BELOW 541px (Smaller tablets) */
/**************************/
@media (max-width: 34em) {
  .scale-sm {
    transform: none;
  }
  .menu-gallery {
    width: 65%;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .reservation {
    grid-template-columns: 1fr;
  }

  .menu-gallery {
    width: 87%;
    justify-items: center;
  }

  .menu-gallery img:nth-child(1),
  .menu-gallery img:nth-child(2),
  .menu-gallery img:nth-child(4) {
    height: 95%;
    width: 95%;
    align-self: center;
  }

  .menu-gallery--box-item {
    align-self: center;
    justify-items: center;
  }

  .reservation-text-box {
    border-radius: 8px;
    padding: 4.8rem 2.4rem 6.4rem 2.4rem;
  }
}

/**************************/
/* BELOW 400px (Smaller smarthphones) */
/**************************/
@media (max-width: 25em) {
  .heading-primary {
    font-size: 8rem;
  }
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 114 / 130 / 150

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
