/* @import "./general.css"; */

/**********************/
/******* HEADER *********/
/**********************/

.header {
  font-family: "Lora", serif;
  font-weight: 500;
  color: var(--c-white-1);

  position: relative;

  height: 100vh;
  background: url("../img/header/latte-and-donut.jpg") no-repeat center center
    fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/header/latte-and-donut.jpg");
  background-size: cover;

  padding-top: 1.2rem;
  overflow-y: hidden;
}

.header-logo {
  height: 8rem;
}

.header .list {
  gap: 3.4rem;
}

.main-nav {
  width: 75%;
  text-align: center;
}

.nav-item {
  font-size: 2.5rem;
  line-height: 1.2;
}

.top-address,
.book-now {
  font-size: 1.6rem;
  line-height: 1.2;
}

.section-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  gap: 6.4rem;
}

.hero-text-box {
  gap: 1.2rem;
}

.hero-description {
  font-size: 2.4rem;
}

/**********************/
/******* ABOUT US *********/
/**********************/
.about-box {
  display: grid;
  grid-template-columns: 65fr 35fr;
  column-gap: 4.8rem;
}

.token {
  color: var(--c-primary-main);
}

.img-about-box {
  position: relative;
  align-self: start;
}

.img-about-us {
  height: 56rem;
  border-radius: 8px;
}

.border-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 34.7rem;
  height: 56rem;
  border: 2px solid var(--c-primary-main);
  border-radius: 8px;
  transform: translate(17px, 21px);
  z-index: -1;
}

/**********************/
/******* LOGO BREAK *********/
/**********************/

.section-break {
  background: url("../img/cookies.jpg") no-repeat center 20% fixed;
  /* background: url("../img/cookies.jpg") no-repeat center 50% scroll; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/cookies.jpg");
  background-size: cover;

  text-align: center;
}

.img-logo-break {
  margin: 1.6rem 0;
  padding: 1.2rem 0;
  height: 24rem;
}

/**********************/
/******* MENU *********/
/**********************/

.section-menu {
  margin-bottom: 4rem;
}

.menu-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  text-align: center;
}

.menu-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40fr 60fr;

  align-items: center;
  justify-items: stretch;
  row-gap: 2rem;
  column-gap: 1.8rem;

  border: 2px solid var(--c-primary-main);
  border-radius: 8px;
  width: 95%;
  height: 97%;
}

.menu-gallery img {
  border-radius: 8px;
}

.menu-gallery img:nth-child(1) {
  height: 30rem;
  width: 33.2rem;
  align-self: self-end;
}

.menu-gallery img:nth-child(2) {
  height: 26rem;
  width: 24.2rem;
  align-self: self-end;
}

.menu-gallery img:nth-child(4) {
  height: 44rem;
  width: 27.7rem;
  align-self: start;
}

.menu-gallery--box-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
  align-self: start;
  justify-items: end;
}

.menu-gallery--box-item img:first-child,
.menu-gallery--box-item img:last-child {
  height: 20.1rem;
  width: 29rem;
}

.menu-text--pharagraph {
  text-align: start;
  margin: 2rem 0 3rem;
}

.menu-text .btn--outline {
  font-weight: 600;
  color: var(--c-primary-main);
  border-width: 2px;
  border-color: var(--c-primary-main);
}

.menu-text .btn--outline:hover,
.menu-text .btn--outline:active {
  color: var(--c-white-1);
  background-color: var(--c-primary-main);
}
/**********************/
/******* FEATURES *********/
/**********************/

.features,
.contact-box {
  gap: 4rem;
}

.feauture {
  color: var(--c-primary-main);
  gap: 1rem;
}

.feauture h3,
.contact-item h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
}

.feauture img {
  stroke: var(--c-primary-main);
  height: 8rem;
  padding: 1.6rem;
  background-color: var(--c-primary-tint-1);
  border-radius: 50%;
}

.feauture p {
  font-size: 1.8rem;
  text-align: center;
}
/**********************/
/******* RESERVATION *********/
/**********************/

.reservation {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.reservation h3 {
  color: var(--c-primary-main);
}

.reservation h2,
.reservation h3 {
  text-align: center;
}

.reservation-text-box {
  background-color: var(--c-primary-tint-2);
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

  border-radius: 8px 0 0 8px;
}

.reservation-text {
  font-size: 1.8rem;
  margin: 2rem 0 4rem 0;
}

.reservation-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, min-content);
  column-gap: 3.2rem;
  row-gap: 2rem;
}

.reservation-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.reservation-form input,
.textarea-form-box textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border-radius: 8px;
  border: none;

  background-color: var(--c-primary-tint-1);
  color: #666;

  transition: all 0.3s;
}

.reservation-form input:hover,
.textarea-form-box textarea:hover {
  background-color: #eee;
}

.reservation-form input:focus,
.textarea-form-box textarea:focus {
  color: #333;
  background-color: #fff;
}

.reservation *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

.textarea-form-box {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}

.reservation .btn,
.reservation .btn:link,
.reservation .btn:visited {
  grid-row: 5/ -1;
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
  width: 50%;

  background-color: var(--c-primary-main);
  color: var(--c-white-1);
}

.reservation .btn:hover,
.reservation .btn:active {
  background-color: var(--c-primary-tint-4);
}

.reservation-img-box {
  background: url("../img/cafe-person-1-2.jpg") no-repeat center center scroll;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/cafe-person-1-2.jpg");
  background-size: cover;

  border-radius: 0 8px 8px 0;
}
/**********************/
/******* FOOTER *********/
/**********************/

.contact-box {
  align-items: baseline;
}

.contact-item {
  text-align: center;
  font-size: 1.6rem;
  gap: 2rem;
}

.copyrigth {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.social-item {
  padding: 1.6rem;
  margin: 1.2rem;
  border-radius: 50%;

  transition: all 0.7s ease-out;
}

.social-item:hover,
.social-item:active {
  background-color: var(--c-primary-tint-2);
}

/**********************/
/******* *********/
/**********************/

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 113 / 130 / 150

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
